<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout Completed</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" th:href="@{/css/pstyles.css}">
</head>
<body>


<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="payment">
            <div class="payment_header">
                <div class="check"><i aria-hidden="true" class="fa fa-check"></i></div>
            </div>
            <div class="content">
                <h1>Payment Success !</h1>
                <p th:text="${giftDetail.getRemarks()}"></p>
                <p class="font-weight-bold" th:text="'$ ' + __${giftDetail.getTransactionAmount()}__"></p>
                <a th:href="@{/product/}">Go to Home</a>
            </div>

        </div>
    </div>
</div>


<script crossorigin="anonymous" src="https://kit.fontawesome.com/40ae587473.js"></script>

<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"
        type="text/javascript"></script>
</body>
</html>