<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/css/all.css}">
</head>
<body>
<div class="container mt-3 col-7">
    <div class="card rounded-0 shadow">
        <div class="card-header alert-success font-weight-bold">
            <i class="fas fa-user-tie mr-2 fa-lg"></i> Customer Registration Form
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/register/}" th:object="${newCustomer}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail">Email</label>
                        <input class="form-control" id="inputEmail" placeholder="example@gmail.com"
                               th:errorclass="is-invalid"
                               th:field="*{email}"
                               type="email">
                        <small class="bg-text-dark"
                               style="color: brown"
                               th:errors="*{email}" th:if="${#fields.hasErrors('email')}">></small>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Password</label>
                        <input class="form-control" id="inputPassword" placeholder="Password"
                               th:errorclass="is-invalid"
                               th:field="*{password}" type="password">
                        <small style="color: darkred"
                               th:errors="*{password}"
                               th:if="${#fields.hasErrors('password')}"
                        ></small>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFullName">Full Name</label>
                        <input class="form-control" id="inputFullName" placeholder="Full Name"
                               th:errorclass="is-invalid"
                               th:field="*{fullName}" type="text">
                        <small style="color: darkred"
                               th:errors="*{fullName}" th:if="${#fields.hasErrors('fullName')}"></small>

                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputContactMobile">Contact Mobile</label>
                        <input class="form-control" id="inputContactMobile" placeholder="Mobile 0332-25469888"
                               th:errorclass="is-invalid"
                               th:field="*{phone}"
                               type="text">
                        <small style="color: darkred"
                               th:errors="*{phone}" th:if="${#fields.hasErrors('phone')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address</label>
                    <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"
                           th:field="${newCustomer.address}"
                           type="text">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputCountry">Country</label>
                        <input class="form-control" id="inputCountry" th:field="*{country}" type="text">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputCity">City</label>
                        <input class="form-control" id="inputCity" th:field="*{city}" type="text">

                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPostal">Postal Code</label>
                        <input class="form-control" id="inputPostal" th:field="*{postalCode}" type="text">
                    </div>
                </div>
                <div class="row bg-light float-right mr-3">
                    <button class="btn alert-success text-dark shadow rounded-0" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/40ae587473.js"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
        type="text/javascript"></script>
<script th:src="@{/webjars/popper.js/umd/popper.js}"
        type="text/javascript"></script>

</body>
</html>
